<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление роли</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="${header}"></div>
<section class="center-5">
    <h1 class="display-4">Назначение роли</h1>
    <div th:if="${success}">
        <br>
        <h4 class="display-1 success" th:text="${successMessage}"></h4>
        <br>
    </div>
    <form th:action="@{/scenerole/create}" th:object="${sceneRole}" method="post">
        <div class="row mb-4">
            <div class="form-group col">
                <label>Название роли</label>
                <input type="text" name="name" th:field="*{name}" class="form-control" placeholder="Введите название">
                <div class="invalid" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
                <div class="invalid" th:if="${sceneRoleExists}">Роль с таким названием уже существует</div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col">
                <label>Спектакль</label>
                <select th:field="*{performance}" class="form-control">
                    <option th:value="${null}">_</option>
                    <option th:each="p : ${performances}" th:value="${p.getId()}"
                            th:text="${p.getName()}">
                    </option>
                </select>
                <div class="invalid" th:if="${#fields.hasErrors('performance')}" th:errors="*{performance}">Performance error</div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="form-group col">
                <label>Актер</label>
                <select th:field="*{employee}" class="form-control">
                    <option th:value="${null}">_</option>
                    <option th:each="actor : ${actors}" th:value="${actor.getId()}"
                            th:text="${actor.getLastname() + ' ' + actor.getFirstname() + ' ' + actor.getMiddlename()}">
                    </option>
                </select>
                <div class="invalid" th:if="${#fields.hasErrors('employee')}" th:errors="*{employee}">Employee error</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Назначить роль</button>
    </form>
    <br>
</section>
</body>
</html>